@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.4/css/all.css");
@import url("https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
html {
  font-size: 11pt;
}

body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 11pt;
  }
}